* {
    color: white;
}

body {
    background: url("./imagens/pexels-josh-sorenson-1714208.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.name {
    width: 200px;
    left: 1060px;
    position: absolute;
    margin-bottom: 10px;


}

.cabeçalho {
    
}

#fotorenan {
    top: 50px; 
    left: 1000px;
    position: absolute;

}

p {
    
    
}
.corpo {
  position: absolute;
}